.contact {
    width: 90%;
    margin: auto;
}

.contact__form-field {
    display: block;
    position: relative;
}

.contact__form-field-first {
    margin-right: 2%;
}

.contact__form-field-inline {
    width: 49%;
}

.contact__form-field-block {
    width: 100%;
}

.contact__form-submit {
    text-align: center;
}

.contact__input {
    width: 100%;
    border: 2px solid #999;
    padding: 5px 10px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    position: relative;
    z-index: 1;
    background-color: transparent;
    color: #fff;
}

.contact__label {
    font-weight: 500;
    position: absolute;
    top: 7px;
    left: 12px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 0;
}

.contact__message {
    width: 100%;
}

.contact__submit {
    border: 2px solid #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: transparent;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    position: relative;
    line-height: 100%;
    letter-spacing: 1px;
    overflow: hidden;
    border-color: #e83e8c;
    color: #e83e8c;
}

/* CONTACT INFO */

.info__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.info__item h5 {
    text-align: center;
}

.info__item-icon {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    line-height: 1em;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #e83e8c;
    width: 100%;
}

.info__item h5 {
    font-size: 18px;
}

@media (max-width: 767px) {
    .contact {
        width: 100%;
    }
    
    .contact__form-field-inline {
        width: 100%;
        margin-right: 0;
    }

    .contact__form-field-first {
        margin-bottom: 20px;
    }

    .info__item {
        flex: 100%;
        max-width: 100%;
    }
}

