.banner-content {
    top: 180px;
    width: 100%;
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.banner-content__text-wrapper {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
}

.banner-content h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 62px;
    font-weight: 500;
    color: #fff;
}

.banner-content h1 span {
    font-weight: 900;
    font-size: 62px;
    font-family: "Playfair Display", serif;
}

.banner-content img {
    height: 200px;
}

.banner-content p {
    font-size: 28px;
}

.cd-words-wrapper {
    font-weight: bold;
}

span.pink {
    color: #e83e8c;
}

@media (max-width: 767px) {
    .banner-content {
        height: 50%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80%;
    }
}