.sidebar-container {
    position: fixed;
    height: 100vh;
}

.sidebar {
    background-color: #17181B;
    height: 100vh;
    color: #777;
    width: 200px;
    position: fixed;
}

.lnr {
    font-family: 'Linearicons-Free';
}

img {
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 25px;
}

.sidebar__site-name {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #e83e8c;
    padding: 10px 0;
    text-align: center;
    opacity: 80%;
    z-index: 1;
    position: relative;
    top: -53px;
}

ul.sidebar__main-link-group {
    list-style-type: none;
    margin-left: 0;
}

.sidebar__main-link-group li {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    border-bottom: 1px solid #202226;
}

.sidebar__main-link-icon {
    position: absolute;
    left: 40px;
    display: inline-block;
    font-size: 20px;
}

a.sidebar__main-link, a.sidebar__main-link:visited {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 45px;
    padding-left: 70px;
    position: relative;
    
}